[submodule "secp256k1/bitcoin-core-secp256k1"]
	path = secp256k1/bitcoin-core-secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "secp256r1/besu-native-ec"]
	path = secp256r1/besu-native-ec
	url = https://github.com/ConsenSys/besu-native-ec.git
[submodule "constantine/constantine"]
	path = constantine/constantine
	url = https://github.com/mratsim/constantine.git
[submodule "boringssl/google-boringssl"]
	path = boringssl/google-boringssl
	url = https://boringssl.googlesource.com/boringssl
